/* Sets padding and margin to 0 so nothing happens with web browser */
*v{
    padding: 0;
    margin: 0;
}

/* Backgrounds */
/* default background setting so 2/3 backgrounds can be 66% of backgorund */
.background-div {
    width: 33%;
    height: 100vh;
    text-align: center;
    z-index: -1;
}

/* left side background set to light blue and floated to left side and aligning child elements to center */
#background-div-1 {
    background-color: lightblue;
    float: left;
    text-align: center;
}

/* center background set to gray and made an extra 1% wide to accoutn for gap left by left and right sides and set inline to be in center */
#background-div-2 {
    width: 34%;
    background-color: gray;
    display: inline-block;
}

/* right side background set to light salmnon and floated to right side and aligning child elements to center */
#background-div-3 {
    background-color:lightsalmon;
    float: right;
    position: relative;
}

/* shape wrapper to help align all shapes in the center of each column */
.shape-wrapper {
    display: inline-block;
    text-align: center;
}

/* default dimensions for the triangles */
.triangle {
    width: 0;
    height: 0;
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
    border-bottom: 100px solid black;
    z-index: 1;
}

/* each triangle is given a backgorund color and adjusted vertically if need be*/
#triangle-1 {
    margin-top: 10vh;
    border-bottom: 100px solid magenta;
}

#triangle-2 {
    margin-top: 10vh;
    border-bottom: 100px solid yellow;
}

#triangle-3 {
    margin-top: 10vh;
    border-bottom: 100px solid seagreen;
}

/* default dimensions for the squares */
.square {
    width: 10vw;
    height: 10vh;
    background-color: black;
}

/* each square is given a backgorund color and adjusted vertically if need be*/
#square-1 {
    background-color: yellow;
    margin-top: 15vh;
}

#square-2 {
    background-color: magenta;
    margin-top: 10vh;
}

#square-3 {
    background-color: tomato;
    margin-top: 15vh;
}

/* default dimensions for the circles */
.circle {
    width: 10vw;
    height: 10vh;
    border-radius: 50%;
    background-color: black;
    margin-top: 15vh;
}

/* each cirle is given a backgorund color and adjusted vertically if need be*/
#circle-1 {
    background-color: seagreen;
}

#circle-2 {
    background-color: tomato;
}

#circle-3 {
    background-color: magenta;
    margin-top: 10vh;
}

/* default dimensions for the rectangles */
.rectangle {
    width: 20vw;
    height: 10vh;
    background-color: black;
    margin-top: 10vh;
}

/* each rectangle is given a backgorund color and adjusted vertically if need be*/
#rectangle-1 {
    background-color: tomato;
}

#rectangle-2 {
    margin-top: 15vh;
    background-color: seagreen;
}

#rectangle-3 {
    margin-top: 15vh;
    background-color: yellow;
}